broker.id={{ broker_id }}

listeners={{ kafka_security_protocol }}://{{ ansible_host }}:{{ kafka_broker_port }}
advertised.listeners={{ kafka_security_protocol }}://{{ ansible_host }}:{{ kafka_broker_port }}
listener.security.protocol.map={{ kafka_security_protocol }}:{{ kafka_security_protocol }}

sasl.enabled.mechanisms={{ kafka_sasl_mechanism }}
sasl.mechanism.inter.broker.protocol={{ kafka_sasl_mechanism }}
#sasl.mechanism.inter.broker.protocol={{ kafka_sasl_mechanism }} # facoltativo se usi mTLS tra i broker
inter.broker.listener.name={{ kafka_security_protocol }}

listener.name.{{ kafka_security_protocol | lower }}.{{ kafka_sasl_mechanism | lower }}.sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required  username="{{ kafka_sasl_admin_user }}" password="{{ kafka_sasl_admin_password }}";

ssl.keystore.location={{ kafka_broker_ssl_dir }}/{{ kafka_broker_name }}.keystore.p12
ssl.keystore.password={{ kafka_ssl_password }}
ssl.key.password={{ kafka_ssl_password }}
ssl.truststore.location={{ kafka_broker_ssl_dir }}/{{ kafka_broker_name }}.truststore.p12
ssl.truststore.password={{ kafka_ssl_password }}
ssl.keystore.type=PKCS12
ssl.truststore.type=PKCS12


num.network.threads=3
num.io.threads=8
socket.send.buffer.bytes=102400
socket.receive.buffer.bytes=102400
socket.request.max.bytes=104857600
log.dirs={{ kafka_log_dirs }}
num.partitions={{ kafka_num_partitions }}
num.recovery.threads.per.data.dir=1
offsets.topic.replication.factor={{ kafka_offsets_topic_replication_factor }}
transaction.state.log.replication.factor={{ kafka_transaction_state_log_replication_factor }}
#transaction.state.log.num.partitions=1
#transaction.state.log.min.isr=2
log.flush.interval.messages=10000
log.retention.hours=168
log.retention.check.interval.ms=300000
zookeeper.connect={{ zookeeper_connect_servers }}
zookeeper.connection.timeout.ms=18000
group.initial.rebalance.delay.ms=0
controlled.shutdown.max.retries=3
controlled.shutdown.retry.backoff.ms=5000
log.flush.scheduler.interval.ms=1000


# Topic interno per lo stato delle transazioni
transaction.state.log.replication.factor={{ kafka_transaction_state_log_replication_factor }}
transaction.state.log.min.isr={{ kafka_transaction_state_log_min_isr }}
#transaction.state.log.num.partitions=50

# Idempotenza / affidabilità generale
min.insync.replicas={{ kafka_min_insync_replicas }}
#default.replication.factor=3
#unclean.leader.election.enable=false

# Timeout massimo consentito per una transazione (ms)
#transaction.max.timeout.ms=900000
